.idea/
*.iml
/conf/*
/logs/*
/lib/*
/run/*
!/conf/*.dist
!/logs/.gitkeep
!/lib/.gitkeep
!/run/.gitkeep
/src/*.mvn
/src/*.settings
/src/*.project
/src/*.classpath
/src/*.apt_generated/
/src/*.factorypath
/src/bin/
/src/openlrw/target
