
###############################
#        SETTINGS FILE        #
###############################

# Spring Security
matthews.security.jwt.tokenExpirationTime=240
matthews.security.jwt.refreshTokenExpTime=360
matthews.security.jwt.tokenIssuer=http://example.com
matthews.security.jwt.tokenSigningKey=THIS_KEY_IS_NOT_SECRET_CHANGE_ME

# Log path
logging.file=logs/spring.log

# MongoDB credentials
# https://docs.mongodb.com/manual/reference/connection-string/
spring.data.mongodb.uri=mongodb://
